@charset "UTF-8";




body {
background-color: rgb(205, 255, 203);
font-family: Arial, Helvetica, sans-serif;




}



h1 {


    color:#002c00;
}


h2 {color: #345c34;



}

#principal {
color: #00ff80;
text-align: center;
background-color: #002c00;
}


.ba {
    color:  #49965c;


}


.in {
    color: #967b49;

}




.av {
    color:#964949;

}

p {
background-attachment: fixed;
color: rgb(53, 71, 110);

    
}


















































































































































































































































































































































































































































